@model proyectoFinalSI.PatientAppointment



@{
    ViewBag.Title = "Patient";
}

<h2>Profile</h2>

<div>
    <h4>Patient @Html.DisplayFor(model => model.patients.firstName) @Html.DisplayFor(model => model.patients.lastName) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
            @*@Html.DisplayNameFor(model => model.firstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.firstName)
        </dd>

        <dt>
            Last Name
            @*@Html.DisplayNameFor(model => model.lastName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.lastName)
        </dd>

        <dt>
            Username
            @*@Html.DisplayNameFor(model => model.userName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.userName)
        </dd>

        @*<dt>
           @Html.DisplayNameFor(model => model.password)*
        </dt>

        <dd>
           @Html.DisplayFor(model => model.password)
        </dd>*@

        <dt>
            Email
           @* @Html.DisplayNameFor(model => model.email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.email)
        </dd>

    </dl>
</div>
<b><h4>Your Appointments</h4></b>

@if(Model.appointmentList.Count == 0)
{
    <h4>You dont have any appointments for the moment</h4>
}
else{
<table class="table">
    <tr>
        <th>
            Doctor
            @*@Html.DisplayNameFor(model => model.doctor.firstName)*@
        </th>
        <th>
            Patient's Name
            @*@Html.DisplayNameFor(model => model.patient.firstName)*@
        </th>
        <th>
            Appointment Status
            @*@Html.DisplayNameFor(model => model.status)*@
        </th>
        <th>
            Appointment Date
            @*@Html.DisplayNameFor(model => model.date)*@
        </th>
        <th>
            Description
            @*@Html.DisplayNameFor(model => model.description)*@
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model.appointmentList)
    {
        <tr>
            <td>
                Dr. @Html.DisplayFor(modelItem => item.doctor.firstName) @Html.DisplayFor(modelItem => item.doctor.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patient.firstName) @Html.DisplayFor(modelItem => item.patient.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.appointmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.appointmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.appointmentId })
            </td>
        </tr>

    }

</table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.patients.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Appointments", "AppointmentPerPatient", "Appointments", new { id = Model.patients.Id }, null)
     
</p>
